@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    background-color: #062315;
}

.light-navbar {
    background-color: white;
}

.light-navbar .logo a,
.light-navbar .navlink {
    color: black;
}

.light-navbar .logo a:hover,
.light-navbar .navlink:hover {
    color: #007958;
}

.light-navbar 

.isHome {
    position: fixed;
    background-color: transparent;
}

.logo {
    width: auto;
    height: auto;
    padding-left: calc(2rem + 1vw);
}

.logo a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: calc(2rem + 1vw);
}

#mainListDiv {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navlink {
    width: auto;
    padding: 0;
    padding-right: 3rem;
    text-decoration: none;
    color: white;
    line-height: 65px;
    font-size: 2.4rem;
}

/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-position: center top;
	background-size:cover;
}

.nav {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Hambuger menu */
.navTrigger {
    display: none;
    z-index: 1000;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 30px;
    top: 15px;
    position: fixed;
}

#hamburger-nav {
    left: 0;
    top: -100vh; 
    background-color: #062315;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0.8; 
    z-index: 999;
    position: absolute;
    /* traansition for menu dropping down */
    transition: top 1s ease, visibility 0s linear 1s, opacity 1s ease;
}

#hamburger-nav.visible {
    top: 0;
    visibility: visible; 
    opacity: 1; 
    transition: top 1s ease, visibility 0s, opacity 1s ease;
}

#hamburger-links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hamburger-link {
    text-decoration: none;
    font-size: 3rem;
    color: white;
}

.button__login, .button__logout{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navlink:hover, .logo-link:hover, .hamburger-link:hover{
    color: #00E676;
}

/* Media qurey section */

@media screen and (min-width: 1024px) and (max-width: 1900px) {
    .nav-container {
        margin: 0;
    }
}

@media screen and (max-width:1024px) {
    .navTrigger {
        display: block;
    }
    .logo {
        margin-left: 15px;
    }
    #mainListDiv, .navlink{
        display: none;
    }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger i {
    background-color: white;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}