.stage {
    background-color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    border: 2px solid black;
    align-items: center;
    margin-top: 9.5%;
    padding-bottom: 2%;
  }

.stage button {
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  border: 2px solid #DCDCDC;
  border-radius: 15px;
  background-color: white;
  padding: 0.25em 2em;
}

.stage button:hover {
  background-color: #DCDCDC;
}

.stage-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 1em 0;
  gap: 3em;
}

.stage-classify {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.stage-classifications {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
