.toggle {
    font-size: 2.5rem;
    border: 2px solid black;
    background-color: white;
    margin-right: 2%;
    padding: 0.5em;
    margin-top: 3.25%;
    margin-left: 2.1%;
    margin-bottom: 2%;
  }

.toggle-checkbox {
  margin-right: 0.5em;
}

.toggle-dropdown {
  margin-left: 1.5em;
}